[submodule "Ractjs_functional_component_eventHandling"]
	path = Ractjs_functional_component_eventHandling
	url = https://github.com/manojap/Ractjs_functional_component_eventHandling
[submodule "Reactjs_class_functionalComp_communication"]
	path = Reactjs_class_functionalComp_communication
	url = https://github.com/manojap/Reactjs_class_functionalComp_communication
[submodule "Reactjs-class_component_eventHandling"]
	path = Reactjs-class_component_eventHandling
	url = https://github.com/manojap/Reactjs-class_component_eventHandling
[submodule "useState-Hook-in-React"]
	path = useState-Hook-in-React
	url = https://github.com/manojap/useState-Hook-in-React
[submodule "React_ref"]
	path = React_ref
	url = https://github.com/manojap/React_ref
[submodule "loginformComponent"]
	path = loginForm_component
	url = https://github.com/manojap/loginformComponent
[submodule "callback_ref"]
	path = callback_ref
	url = https://github.com/manojap/callback_ref
[submodule "Reactfragments"]
	path = Reactfragments
	url = https://github.com/manojap/Reactfragments
[submodule "React_Fragment"]
	path = React_Fragment
	url = https://github.com/manojap/Reactfragments
